<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<title>Calculator</title>
</head>

<body>
	<div class="calculator">
		<form method="post">
			<input type="text" class="screen" name="user_input" value={{user_input}}>
			<div id="number-pad"></div>
		</form>
	</div>
	{{user_input}}
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>